:root {
  /* Main colors */
  --primary: #6f6cf6; /* Same as purple400 */
  --secondary: #e7ecff; /* Same as purple100 */
  --background: #ffffff;
  --text: #010b13;

  /* Grayscale */
  --gray100: #f8f8f8;
  --gray200: #dde1e8;
  --gray300: #b4bac6;
  --gray400: #757880;
  --gray500: #363841;

  /* Purple scale */
  --purple100: #e7ecff;
  --purple200: #bac0f7;
  --purple300: #8d8bfb;
  --purple400: #6f6cf6;
  --purple500: #6851f5;

  /* Additional colors */
  --warning: #fe4e39; /* Red */
  --shadow: rgba(91, 99, 116, 0.15); /* Shadow color */

  /* Font sizes */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.375rem; /* 22px */
  --font-size-xxl: 1.5rem; /* 24px */

  /* Font weights */
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;

  /* Border radii */
  --border-radius-default: 0.6rem; /* 9.6px */
  --border-radius-md: 0.5rem; /* 8px */
  --border-radius-lg: 1rem; /* 16px */

  /* Spacing */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 3rem; /* 48px */

  /* Breakpoints */
  --breakpoint-mobile-min: 479px; /* min-width for mobile (portrait) */
  --breakpoint-mobile-max: 767px; /* max-width for mobile (landscape) */
  --breakpoint-tablet-min: 768px; /* min-width for tablets (portrait) */
  --breakpoint-tablet-max: 1023px; /* max-width for tablets (landscape) */
  --breakpoint-desktop: 1024px; /* min-width for desktops */
}

/* @media (prefers-color-scheme: dark) {
  :root { */
    /* Main colors */
    /* --primary: #6f6cf6; Same as purple400 */
    /* --secondary: #141414; Same as purple100 */
    /* --background: #2c3138; Same as gray100 */
    /* --text: #f8f8f8; */

    /* Grayscale */
    /* --gray100: #2c3138;
    --gray200: #363841;
    --gray300: #757880;
    --gray400: #b4bac6;
    --gray500: #dde1e8; */

    /* Purple scale */
    /* --purple100: #141414;
    --purple200: #282828;
    --purple300: #8d8bfb;
    --purple400: #6f6cf6;
    --purple500: #6851f5; */

    /* Additional colors */
    /* --error: #ff6a62; Red */
    /* --shadow: rgba(255, 255, 255, 0.3); Shadow color */
  /* }

  html {
    color-scheme: dark;
  }
} */

@font-face {
  font-family: 'SUIT';
  src: url('../app/fonts/SUIT.woff2') format('woff2');
}

.icon {
  font-family: 'SUIT', sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

input:disabled {
  cursor: not-allowed;
}

/* CSS Preset */
.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

/* Global CSS Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-spacing:-2px;
}

#main-content {
  color: var(--text);
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Input, Text Area, Selector Styles */
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
textarea,
select {
  width: 100%;
  padding: var(--spacing-sm); /* 1rem */
  font-size: var(--font-size-md); /* 1rem */
  color: var(--gray500);
  background-color: var(--background);
  border: 1px solid var(--gray200);
  border-radius: var(--border-radius-md); /* 0.5rem */
  box-shadow: none;
  outline: none;
  transition: border-color 0.2s;
}

input[type='text']:focus,
input[type='search']:focus,
input[type='email']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  border-color: var(--primary);
}

input[type='text']::placeholder,
input[type='search']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
textarea::placeholder,
selector::placeholder {
  color: var(--gray300);
}

input[type='text']:disabled,
input[type='search']:disabled,
input[type='email']:disabled,
input[type='password']:disabled,
textarea:disabled,
select:disabled {
  background-color: var(--gray100);
  color: var(--gray300);
  cursor: not-allowed;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: url('/remove.svg') center center no-repeat;
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background: none;
  padding-right: 2rem;
  color: var(--gray400);
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23757880'%3E%3Cpath d='M480-376q-5 0-10-1.5t-9-5.5L284-568q-7-7-7-18t7-18q7-7 18-7t18 7l160 160 160-160q7-7 18-7t18 7q7 7 7 18t-7 18L500-383q-4 4-9 5.5t-10 1.5Z'/%3E%3C/svg%3E")
    no-repeat right 0.5rem center;
  background-size: 2rem;
}

/* Button Styles */
button {
  transition: all 0.2s;
}

button:focus {
  outline: none;
}

/* Scroll Styles */

/* 스크롤바 스타일 (Webkit 기반 브라우저) */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
  height: 6px; /* 스크롤바의 높이 (수평 스크롤바) */
}

::-webkit-scrollbar-track {
  background: var(--gray200); /* 트랙 배경 색상 */
}

::-webkit-scrollbar-thumb {
  background: var(--gray300); /* 핸들의 배경 색상 */
  border-radius: var(--border-radius-default); /* 모서리 둥글게 */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray400); /* 핸들 마우스 오버 시 색상 */
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

/* Media Queries */
@media (max-width: var(--breakpoint-mobile-max)) {
  /* Styles for mobile devices */
}

@media (min-width: var(--breakpoint-tablet-min)) and (max-width: var(--breakpoint-tablet-max)) {
  /* Styles for tablets */
}

@media (min-width: var(--breakpoint-desktop)) {
  /* Styles for desktops */
}
